<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>### TITLE ###</title>
  <link rel="stylesheet" href="/res/css/main.css">
</head>
<body>
  <h1>hackroulette.chat</h1>

  <form action="/user/register" method="post">
    <div class="input-wrap">
      <input type="checkbox" name="privacy" id="privacy">
      <label for="privacy">Ja, ich bin mit den <a href="/privacy">Datenschutzbestimmungen</a> dieser Anwendung einverstanden.</label>
    </div>

    <div class="input-wrap">
      <input type="submit" class="button button call-to-action" value="Start" />
    </div>
  </form>

  <h2>FAQ</h2>
  <h3>Was ist das?</h3>
  <p>…</p>
  <h3></h3>

  <script src="/res/js/main.js"></script>
</body>
</html>
